*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-size: 16px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-size: 3vw;
}

h2 {
    font-size: 20px;
    font-size: 2vw;
    padding: 0;
    margin: 0;
}

.game-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightblue;
  min-height: 15vw;
}

.play-again {
  font-size: 1.5vw;
}

.board-row-1 {
  display: inline-block; 
  vertical-align: bottom;
}

.board-row-2 {
  display: inline-block; 
  vertical-align: top;
}

.board-table {
  margin-left: 5%;
  margin-right: 5%;
}

.row-1-cell {
  width: 16%;
  float: left;
}

.animal {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    position: relative;
    float: left;
    padding: 5px;
}

.animal img {
    max-width: 100%;
}

.animal span {
    font-size: 16px;
    -webkit-transition: all .2s linear;
    transition: all .5s linear;
    opacity: 1;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
    top: 5px;

    padding: 10px;
    text-align: center;
    color: white;
    display: block;
}


.animal span h2 {
    -webkit-transition: all .2s linear;
    transition: all .5s linear;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.isClicked-false {
  display: none;
}
.isClicked-true {
  display: block;
}

.wrong {
    background-color: rgba(200,0,0,0.5);
}

.wrong img {
  opacity: .66 !important;
}

.right {
    background-color: rgba(0,200,0,0.5);
}

.hidden {
  display: none;
}

/* The ribbons */

.corner-ribbon{
  width: 400px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -200px;
  text-align: center;
  line-height: 8vw;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-size: 2vw;
}

.corner-ribbon a:link {
  text-decoration: none;
}

.corner-ribbon a:visited {
  color: white;
}

.corner-ribbon a:hover {
  color: blue;
}

.corner-ribbon.top-right{
  top: 25px;
  right: -150px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.top-left{
  top: 25px;
  left: -150px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}